/* Fonts  */
@font-face {
  font-family: 'Big Shoulders Stencil Display', cursive, 'Raleway', sans-serif;
  src: url('../fonts/Raleway-BlackItalic.ttf') url('../fonts/BigShouldersStencilDisplay-Black.ttf') format('tff');
}

/* Base Styles */
* {
  box-sizing: border-box;
}
html {
  font-size: 1.25em;
  background: linear-gradient(90deg, gray, black); 
}
body {
  margin: 1rem;
  font: 300 100%/1.5 'Big Shoulders Stencil Display', 'Raleway', sans-serif;
  color: whitesmoke;
}
h1, h2 {
  font: 400 4rem/1.1 'Big Shoulders Stencil Display', 'Raleway', sans-serif;
}
h1 {
  text-shadow: 1px 2px 3px rgba(0,10,30,.5);
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.25rem;
}
img {
  width: 100%; /* responsive images */
  border-radius: 20px;
}


/* Main Styles --------------------- */
header {
  padding: 10vh 1rem;
  margin: -1rem -1rem 1rem;
  background: url(../img/saw.jpg) center / cover no-repeat darkslategray;
  background-blend-mode: multiply;
  color: white;
}
header, footer {
  text-align: center;
}
.title {
  letter-spacing: 1px;
}
main {
  hyphens: auto;
}
#worker {
  padding: 20% 15%;
  border-top: 12px solid #2e09b1;
  border-radius: 12px 12px 0 0;
  background: url(../img/backsplash.jpg) center / cover #243c9e;
  color: black;
  box-shadow: inset 0 0 20px 10px rgba(0,10,30,.8);
}

/* Form Fields -------------------- */
input,
textarea {
  font-size: 1em;
  color: #222;
  font-weight: 300; 
  width: 100%;
  border: none;
  height: auto;
  padding: 15px;
  outline: 0;
  margin-bottom: 1.2em;
  border-radius: .3em;
  border-bottom: 3px solid rgba(0,0,0, 0.05);
  background-color: whitesmoke;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}

label {
  display: block;
  margin-bottom: 0.5em; 
}

/* Classes */
.btn {
  cursor: pointer;
  font-size: .875em;
  font-weight: 300;
  color: darkslategrey;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
}

.hidden {
  display: none;
}

/* Media Queries ------------------- */
@media screen and (min-width: 720px) {
  header {
    padding: 20vh 1rem;
  }
  .column {
    display: inline-block;
    width: 48%;
    margin-right: -4px;
  }
  .column:first-child {
    margin-right: calc(4% - 4px);
    margin-bottom: 0;
  }
}
@media (max-width: 768px) {
	#container {
		width: 92%;
	}
}
@media (min-width: 769px) {
  .inln {
    width: auto;
    display: inline-block;
  }

  .hidden{
    display: none;
  }

  .tab-container{
    border: solid black 1px;

  }